/* global styles */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
  background-image: url(https://media.gettyimages.com/id/1398147440/video/alphabet-background-blue-and-black-color-animation-moving-on-screen.jpg?s=640x640&k=20&c=gIzOGKXvwHCE96LoaBR9y_kzX-vuHKGUpybqgSLYzdc=);
  background-size: cover;
}

/* main styles starts here  */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 1.1em;
  gap: 0.8em;
  background-color: cyan;
}

.heading h1 {
  font-size: 3rem;
  font-weight: 700;
}

.controll-buttons button {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
  border: 6px solid #333;
}
.cells{
  font-size: 4rem;
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background-color: #f0f0f0;
}

.cells:hover{
  background-color: rgb(246, 225, 228);
}

#start-game{
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #3498db;
  border: none;
  box-shadow:  0 5px 0 #2675a9;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}

#display-heading{
  padding: 8px 80px;
  border: 3px solid black;
  background-color: rgb(23, 22, 22);
  color: white;
  font-weight: 500;
}

.x , .o {
  font-size: 4.5rem;
  font-weight: 600;
}

.x{
  color: #ff4d6d;
}
.o{
  color: #00b4d8;
}