/* global styles */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: Orbitron;
  --bg-image: url(/images/background.jpg);
  --neon-green-color: #39ff14;
  --x-color: hsl(313, 100%, 50%);
  --o-color: #00d4ff;
}

body {
  font-family: var(--font-family);
  background-image: var(--bg-image);
  background-size: cover;
}

/* main styles starts here  */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1em;
  gap: 0.8em;
  background-color: none;
  color: var(--neon-green-color);
}

.heading h1 {
  font-family: monoton;
  font-size: 3rem;
  font-weight: 700;
}

.controll-buttons button {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.game-container {
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
  border: 6px solid var(--neon-green-color);
}
.cells {
  font-size: 4rem;
  width: 150px;
  height: 150px;
  border: 2px solid var(--neon-green-color) ;
  background-color: #1e1e1e;
}

.cells:hover {
  background-color: rgb(246, 225, 228);
  background-color: rgba(57, 255, 20, 0.4);
}

#start-game {
  font-size: 1.8rem;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 12px;
  border: none;
  font-family: monoton;
  background-color: var(--neon-green-color);
  cursor: pointer;
}

#display-heading {
  padding: 8px 80px;
  border: 3px solid black;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  font-family: var(--font-family);
}

.x,
.o {
  font-size: 4.5rem;
  font-weight: 600;
}

.x {
  color: var(--x-color);
}
.o {
  color: var(--o-color);
}
