/* global styles */
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: Orbitron;
  --bg-image: url(https://media.istockphoto.com/id/1353134152/video/neon-light-falling-on-the-floor-with-smoke-seamless-loop-video.jpg?s=640x640&k=20&c=p7Cx7x7mO7TzelIchPlOolMrBcOfTPyS6dBHnmEAMx0=);
  --neon-green-color: #39ff14;
  --x-color: #ff00c8;
  --o-color: #00d4ff;
}

body {
  font-family: monoton;
  background-image: var(--bg-image);
  background-size: cover;
}

/* main styles starts here  */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1em;
  gap: 0.8em;
  background-color: none;
  color: var(--neon-green-color);
}

.heading h1 {
  font-size: 3rem;
  font-weight: 700;
}

.controll-buttons button {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.game-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
  border: 6px solid var(--neon-green-color);
}
.cells {
  font-size: 4rem;
  width: 150px;
  height: 150px;
  border: 2px solid var(--neon-green-color) ;
  background-color: #1e1e1e;
}

.cells:hover {
  background-color: rgb(246, 225, 228);
  background-color: rgba(57, 255, 20, 0.4);
}

#start-game {
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #3498db;
  border: none;
  box-shadow: 0 5px 0 #2675a9;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-top: -5px;
  font-family: var(--font-family);
}

#display-heading {
  padding: 8px 80px;
  border: 3px solid black;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 700;
  font-family: var(--font-family);
}

.x,
.o {
  font-size: 4.5rem;
  font-weight: 600;
}

.x {
  color: var(--x-color);
}
.o {
  color: var(--o-color);
}
